@import url('./var.css');

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 25rem;
    padding: 1rem;
    border: 1px solid var(--border);
    gap: 1rem;
    border-radius: 6px;
    box-shadow: var(--shadow);
}

.card-image {
    width: 85%;
    height: 25%;
    background: var(--text-primary);
    margin-top: 0;
}

.card-title {
    font-size: 1.3rem;
    padding: 0 1rem;
}

.card-description {
    font-weight: 300;
    text-align: left;
}

.card-container-buttons {
    display: flex;
    gap: 4rem;
}

.card-container-buttons button {
    width: 120px;
    padding: .3rem 2rem;
    border-radius: 3px;

}
